body {
    width: auto;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: $main-color;
    margin-bottom: 100px;
    top: 0;
    left: 0;
    &__title {
      color: white;
      font-size: 2rem;
      text-align: center;
    }
}

#cat_titles {
    color: $main-color;
    text-align: center;
    font-size: 1.2rem;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: $main-color;
  border-radius: 4px/4px;
}
::-webkit-scrollbar-thumb:hover {
  background: darken($main-color, 15);
}