body {
    width: auto;
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px/4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}