$carousel-height: 300px;
$carousel-preview-width: 70;
$products-amount-visible: 4;
$product-width: 200px;
$carousel-width: calc((200px*4) + 22px);
$carousel-control-color: rgba(#62757f, .5);
$main-color: #62757f;